body{
 margin: 0;
 padding:0;
 backgroud: #000;
}
.container{
 width: 120px;
 heigt: 120px;
 margin: 200px auto;
 padding: 40px;
}
.sun{
 width: 120px;
 heigt:120px;
 backgroud: url(purepng.com-sunsunlightrayssolar-14115271812442lqyl) no-repeat;
 backgroud-size: cover;
 border-radius: 50%;
 }
 .earth
 width: 40px;
 heigt:40px;
 backgroud: url(earth_PNG30) no-repeat;
 backgroud-size: cover;
 border-radius: 50%;
 positin: absolute;
 top: 0;
 left: 0;
 box-shadow: 20px 20px 10px 2px #000000cc;
 animatio: ro 4s infinite;
}
 @keyframes ro{
 50%{
   left: calc(100%-40px);
   top: calc(100%-40px)
   }
   100%{
   z-index: -1:
   }
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 